@font-face{
    font-family:"Inter-Regular";
    src:local("Inter-Regular"), url(../fonts/Inter-Regular.ttf);
    font-display:swap
}
html{
    background-image: url("/images/background.jpg");
    background-size: cover;
    font-family: "Inter-Regular";
    scroll-behavior: smooth;
}
header{
    min-height: 100px;
}

@media(min-width:320px) {
    .header-order-button{
        display: none;
    }
}
@media(min-width:1024px) {
    .header-order-button{
        display: block;
    }
}
.header-container {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 0.8s;
}
.header-order-button{
    color: #000;
    background-color: #ffd700;
    transition: all .2s ease;
    min-width: 200px;
    min-height: 45px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.hero-order-button{
    color: #000;
    background-color: #ffd700;
    transition: all .2s ease-in-out;
    min-width: 180px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.hero-order-button:hover{
    background-color: #c9ab00;
}
.header-order-button:hover{
    background-color: #c9ab00;
}
.logo-button:hover{
    transition: all .2s ease;
    transform: scale(1.02);
}
.hero-photo{
    img{
        object-fit: cover;
        border-radius: 20px;
        min-width: 500px;
        min-height: 310px;    
    }
}
.slick-buttons-jobs{
    display:flex;
    justify-content:center;
    height:25px;
    margin-top:32px
}
.slick_button{
    cursor:pointer;
    width:25px;
    color: white;
}
.prev_button{
    margin-right:80px
}
.slick-next, .slick-prev{
    display: none;
}

.our-job-container{
    background-color: rgb(255 228 76);
    border-radius: 20px;
    padding: 10px;
    > div{
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
        padding-top: 5px;
    }
    h3{
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
    }
    p{
        font-size: 18px;
        margin-right: 20px;
        margin-left: 20px;
    }
    img{
        max-width: 70px;
        margin-right: 20px;
    }
}

.blackNav {
    background-color: #484848;
}

.slick-slide{
    margin: 0 10px;
}